
.head {
    background-color: #4aaaa5;
}

/**body general styling**/
body{ 
    width: 100%;
    background: url('../images/background.png')  ;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h2, h4{
    font-family:  'Georgia', Times, Times New Roman, serif;  
}

/** styling for main content heading **/
.HH > h2 {
    color :#4aaaa5;

    
}

/** styling for css navbar**/
.navbar{
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.navbar-brand, .btn, .caption {
    color: white;
    background-color:#4aaaa5;
}

li {
    color: #777777;
}

.nav-contain{
width: 960px;
object-fit: cover;
}

    
/** styling for css container for white pages **/
.my-contain {
    border: 2px solid #dddddd;
    background-color: white;
    width: 960px;
}
      
hr {
    border: 0.5px solid;
}

ul > li > a {
    color: #777777;
}


/** styling for image**/
.fit-image{
    width: 100%;
    height:95%;
    object-fit: cover;
    padding: 5%;
    
}

.caption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    width:81.2550%;
    
    font-weight: bold;
}

/**.fit-images{
    max-width: 100%;
    height: auto;
}


/** styling for css footer**/
    
#sticky-footer {
        flex-shrink: none;
        border-top: 2px solid green;
       
}  




/** styling for css media query**/
@media only screen and (max-width: 576px) {
        
    .my-contain
    {
        width: 100%;
            
        }

    .navbar-toggler {
        
        background-color: #777777;
        border: 1px solid #777777;
        
    }
    



    }


    @media only screen and (max-width: 374px) {
        li {
            font-size: 20%;
            
        }

        h2 {
            
            width: 90%;
            font-size:80%
        }

        
    }
    










